/* TYPOGRAPHY */

h1 {
	font-size: 220px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #ec5671;
}

h2 {
	font-size: 48px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #0000;
}

h3 {
	font-size: 48px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #f1f1f1;
}

h4 {
}

h5 {
}

h6 {
}

p {
	font-size: 18px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #f1f1f1;
}

a {
	font-size: 21px;
	color: #f1f1f1;
}

.untold h1 {
	margin-left: -25px;
	margin-bottom: 25px;
}

.ten-years h2 {
	color: #000;
}

.ten-years p {
	color: #000;
}

.ten-years a {
	background-color: #6bc6b1;
	padding: 10px 20px;
	border-radius: 40px;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}

.ten-years a:hover {
	background-color: #ec5671;
	color: #fff;
}

.story a {
	background-color: #ec5671;
	padding: 10px 20px;
	border-radius: 40px;
	text-decoration: none;
	margin: 0 auto;
	margin-left: 40%;
	transition: background-color 0.3s, color 0.3s;
}

.testimony a {
	background-color: #6bc6b1;
	padding: 10px 20px;
	border-radius: 40px;
	text-decoration: none;
	margin: 0 auto;
	margin-left: 40%;
	transition: background-color 0.3s, color 0.3s;
}

.story a:hover,
.testimony a:hover {
	background-color: #fdf7b9;
	color: #000;
}

.story h3 {
	width: 50%;
	margin-left: 10%;
	margin-right: 10%;
}

.testimony h3 {
	width: 65%;
	margin-left: 10%;
	margin-right: 10%;
}

.story p {
	margin-left: 10%;
	margin-right: 10%;
}

.testimony p {
	margin-left: 10%;
	margin-right: 10%;
}

@media (max-width: 768px) {
	.story a,
	.testimony a {
		margin-left: 0%;
	}

	.story h3,
	.testimony h3 {
		margin-left: auto;
		margin-right: auto;
	}
}
