/* TYPOGRAPHY */

h1 {
    font-size: ;
    font-family: ;
    color: ;
}

h2 {
    font-size: ;
    font-family: ;
    color: ;
}

h3 {
    font-size: ;
    font-family: ;
    color: ;
}

p {
    font-size: ;
    font-family: ;
    color: ;
}

a {
    font-size: ;
    font-family: ;
    color: ;
}
